//Violet theme colors
$violet_approx: #2C0945;
$violet_blue: #6058B3;
$east_side: #A582C6;
$light_orchid: #D8A2D4;
$light_lilac: #FAF7FD;
$sunff_approx: #E9DFF2;
$selago: #ECD8FA;


//cab sav theme colors
$cab_sav: #450920;
$light_tapestry: #AF6579;
$dark_tapestry: #B55D8631;
$puce: #C6829C;
$careys_pink: #D8A2BF;
$amourapprox: #FDF7FA;
$prim: #F2DFED;
$azalea: #FAD8E8;


//neutral colors (Colors used in both themes)
$primary_text_color: #FFFFFF;
$secondary_text_color: #FFFFFFB3;
$venice: #715DB531;
$venice_blue: #0B4F892F;


//font family
$font_family: 'Montserrat Alternates', sans-serif;
