//import font family
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

//import partials
@import './variables';
//typography classes
.main_heading {
    font-weight:  600;
    font-size: 35rem;
    line-height: 43rem;
    color: $primary_text_color
}

.subtitle {
    font-weight: normal;
    font-size: 12rem;
    line-height: 15rem;
    color: $secondary_text_color;
}

.title {
    font-weight: normal;
    font-size: 14rem;
    line-height: 18rem;
    color: $primary_text_color;
}

.to_do_item {
    font-weight: normal;
    font-size: 16rem;
    line-height: 19rem;
    color: $primary_text_color;

    &.done {
        text-decoration: line-through;
    }
}

.main_button {
    font-weight:  600;
    font-size: 16rem;
    line-height: 19rem;
    color: $primary_text_color;
}


.hint_text {
    font-weight: normal;
    font-size: 12rem;
    line-height: 15rem;
}

//start global styles
html {
    /* 62.5% of 16px browser font size is 10px
    ** 0.0625 * 16px=1 (i.e., 1rem=1px)
    */
    font-size: 6.25%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

button, input {
    all: unset;
}

body {
    font-family: $font_family;
    font-size: 16rem;
    height: 100vh;
}

.app_layout {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}