@import './variables';

//typography classes
.main_heading {
    font-weight:  600;
    font-size: 35rem;
    line-height: 43;
    color: $primary_text_color
}

.to_do_item { //list item
    font-weight: normal;
    font-size: 16rem;
    line-height: 19;
    color: $primary_text_color;

    &.done {
        text-decoration: line-through;
    }
}

.main_button {
    font-weight:  600;
    font-size: 16rem;
    line-height: 19;
    color: $primary_text_color;
}

.title{
    font-weight: normal;
    font-size: 14rem;
    line-height: 18;
    color: $primary_text_color;
}

.subtitle {
    font-weight: normal;
    font-size: 12rem;
    line-height: 15;
    color: $secondary_text_color;
}

.hint_text {
    font-weight: normal;
    font-size: 12rem;
    line-height: 15;
}

//start global styles
html {
    /* 62.5% of 16px browser font size is 10px
    ** 0.0625 * 16px=1 (i.e., 1rem=1px)
    */
    font-size: 6.25%;
}

* {
    box-sizing: border-box;
}

button, input {
    all: unset;
}

body {
    font-family: $font_family;
    font-size: 16rem;
}