//import font family
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

//import partials
@import './variables';
@import './transition';
@import './typography';

//start global styles
html {
    /* 62.5% of 16px browser font size is 10px
    ** 0.0625 * 16px=1 (i.e., 1rem=1px)
    */
    font-size: 6.25%;

    //according to inner container max width, so no need to handel other screen sizes
    @media(max-width: 456px) {
        font-size: 5.25%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
}

//unset useless styles
button, input[type="text"], ul, li{
    all: unset;
}

button {
    cursor: pointer;
}

body {
    font-family: $font_family;
    font-size: 16rem;
    height: 100vh;
}

input {
    &::placeholder {
        @extend .hint_text;
        @extend .theme_based;
        opacity: 0.3;
    }
}